/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/*Header*/
.header-container{
    background-color: hsl(194.74deg 53.27% 79.02%);
    padding: 15px;
    display: flex;
    justify-content: center;
    padding: 15px 150px 15px 150px;
}

.header-left,
.header-center,
.header-right{
    background-color: hsl(42.9deg 74.4% 49.02%);
    border: 1px dashed black;
    
}

.header-left,
.header-right{
    min-width: 25%;
}

.header-center{
    width: 50%;
    text-align: center;
}

.header-right{
    text-align: end;
}

/*Section One*/
.section-one{
    background-color: hsl(240deg 100% 27.25%);
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-one{
    background-color: hsl(300deg 76.06% 72.16%);
    border: 1px dashed black;
    min-width: 700px;
    min-height: 300px;
}

/*Section Two*/
.section-two{
    background-color: white;
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-blue{
    background-color: hsl(209.6deg 100% 55.88%);
    border: 1px dashed black;
    min-width: 600px;
    min-height: 400px;
}

.block-pink{
    background-color:hsl(349.52deg 100% 87.65%);
    border: 1px dashed black;
    min-width: 400px;
    min-height: 400px;
}

/*Section Three*/
.section-three{
    background-color: hwb(0 83% 17%);
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-blue{
    background-color: hsl(209.6deg 100% 55.88%);
    border: 1px dashed black;
    min-width: 600px;
    min-height: 400px;
}

.block-pink{
    background-color:hsl(349.52deg 100% 87.65%);
    border: 1px dashed black;
    min-width: 400px;
    min-height: 400px;
}

/*Section Four*/
.section-four{
    background-color: white;
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-blue{
    background-color: hsl(209.6deg 100% 55.88%);
    border: 1px dashed black;
    min-width: 600px;
    min-height: 400px;
}

.block-pink{
    background-color:hsl(349.52deg 100% 87.65%);
    border: 1px dashed black;
    min-width: 400px;
    min-height: 400px;
}

/*Section Five*/
.section-five{
    background-color: hwb(0 83% 17%);
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-five{
    background-color:hsl(120deg 60.69% 33.92%);
    border: 1px dashed black;
    min-width: 1000px;
    min-height: 700px;
}

/*Footer Top*/
.footer-top{
    background-color:hsl(205.71deg 9.09% 15.1%);
    display: flex;
    padding: 60px;
    justify-content:center;
    min-height: 500px;
}

.footer-column-left{
    background-color:hsl(0deg 78.87% 72.16%);
    min-height: ;
    min-width: 300px;
    border: 1px dashed black;
 }

.footer-column-right{
    background-color:hsl(0, 0%, 98%);
    border: 1px dashed black;
    display: flex;
}

.column-one,
.column-two,
.column-three,
.column-four{
    background-color: hsl(176.71deg 69.52% 41.18%);
    border: 1px dashed white;
    min-width: 175px;
}

/*Footer Bottom*/
.footer-bottom{
    background-color: hsl(205.71deg 9.09% 15.1%);
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px solid white;
    min-height: 60px;
    padding-bottom: 0;
}

.footer-section{
    background-color: hsl(159.84deg 100% 74.9%);
    display: flex;
    min-width: 1000px;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
}

.footer-left,
.footer-right{
    background-color: hsl(350.96deg 100% 85.69%);
    border: 1px dashed black;
}

