/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/*Header*/
.header-container{
    background-color: hsl(194.74deg 53.27% 79.02%);
    padding: 15px;
    display: flex;
    justify-content: center;
    padding: 15px 150px 15px 150px;
}

.header-left,
.header-center,
.header-right{
    background-color: hsl(42.9deg 74.4% 49.02%);
    border: 1px dashed black;
    
}

.header-left,
.header-right{
    min-width: 25%;
}

.header-center{
    width: 50%;
    text-align: center;
}

.header-right{
    text-align: end;
}

/*Section One*/
.section-one{
    background-color: hsl(240deg 100% 27.25%);
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-one{
    background-color: hsl(300deg 76.06% 72.16%);
    border: 1px dashed black;
    min-width: 700px;
    min-height: 300px;
}

/*Section Two*/
.section-two{
    background-color: white;
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-blue{
    background-color: hsl(209.6deg 100% 55.88%);
    border: 1px dashed black;
    min-width: 600px;
    min-height: 400px;
}

.block-pink{
    background-color:hsl(349.52deg 100% 87.65%);
    border: 1px dashed black;
    min-width: 400px;
    min-height: 400px;
}

/*Section Three*/
.section-three{
    background-color: hsl(0deg 0% 82.75%);
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-blue{
    background-color: hsl(209.6deg 100% 55.88%);
    border: 1px dashed black;
    min-width: 600px;
    min-height: 400px;
}

.block-pink{
    background-color:hsl(349.52deg 100% 87.65%);
    border: 1px dashed black;
    min-width: 400px;
    min-height: 400px;
}

/*Section Four*/
.section-four{
    background-color: white;
    display: flex;
    padding: 60px;
    justify-content: center;
}

.block-blue{
    background-color: hsl(209.6deg 100% 55.88%);
    border: 1px dashed black;
    min-width: 600px;
    min-height: 400px;
}

.block-pink{
    background-color:hsl(349.52deg 100% 87.65%);
    border: 1px dashed black;
    min-width: 400px;
    min-height: 400px;
}
